<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
 <settings>
  <!-- 指定 MyBatis 所用日志的具体实现 -->
  <setting name="logImpl" value="LOG4J2" />
  <!-- 是否开启自动驼峰命名规则 -->
  <setting name="mapUnderscoreToCamelCase" value="true" />
  <!-- 延迟加载的全局开关 -->
  <setting name="lazyLoadingEnabled" value="true"/>
  <!-- 按需加载对象 -->
  <setting name="aggressiveLazyLoading" value="false"/>
 </settings>

 <!-- 配置分页插件 -->
 <plugins>
  <plugin interceptor="com.github.pagehelper.PageHelper">
   <!-- 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库-->
   <property name="dialect" value="mysql"/>
   <!--<property name="dialect" value="oracle"/>-->
  </plugin>
 </plugins>
</configuration>